/* style for overall page */
html{
        height: 100%;
        font-size: 16px;
}
*{
    box-sizing: border-box; /* include the margins and border in the box size */
}

body{
    font-family:"Raleway", sans-serif;
    background-image: linear-gradient(to bottom, #858c90, #bbb);
    background-attachment: fixed;

}

div.trello-list { /* style the div with the class "trello-list" (.trello-list indicates class */
    display: inline-block; /* create a multi column display */
    width: 300px;
    background: #ddd;
    border-radius: 2px 3px;

}
div.trello-list h2{
    margin: 8px;
    font-size: 1rem;
    font-weight: bold;
}

div.trello-list ol{
    margin: 0px;
    padding: 0px;
}
div.trello-list li{
    list-style: none;
    background-color: rgb(255,255,255);
    font-size: .9rem;
    border-radius: 1px;
    margin-bottom: 10px;
    padding: 8px;

}

div.trello-list li:hover{
    background-color: #f5f6f7;
    color:#092d42;
}

body{
    white-space: nowrap;
}

div.trello-list{
    vertical-align: top;
}
header > h1,
header > p {
display: inline-block;
height: 20px;
padding-right: 20px;
vertical-align: middle;
color:white;
border-right: 1px solid white;

}

header > h1 {
    text-transform: uppercase;
    font-size: 1.1rem;
}